:root {
  --box-textColor: black;
  --heading-textColor: white;
  --box-Color: #f1befa;
  --font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Heading styling */

.heading {
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 0;
}

.heading .text-container {
  font-size: 1.5em;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: var(--heading-textColor);
  font-family: var(--font-family);
  top: 15%;
  right: 3%;
}

.heading .text-container > * {
  margin: 0;
  padding: 0;
}

.heading h4 {
  font-weight: 300;
}

.heading .text-container h2 {
  margin-right: 0.5em;
}

/* Main screen styling */

.main-screen {
  position: relative;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  height: 70vh;
}

/* Board styles */

.board-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: max-content;
  display: flex;
  justify-content: center;
}

.board {
  position: relative;
  width: max-content;
}

.board-filter {
  position: absolute;
  border-radius: 0.5em;
  top: 0;
  width: 0%;
  height: calc(100% - 0.5em);
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: width 250ms ease-out;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
  margin-bottom: 0.5em;
}

.row .square {
  width: 3em;
  height: 3em;
  border-radius: 0.5em;
  border: 3px solid black;
  background: var(--box-Color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 50ms linear;
}

/* Prompt to play again */

.play-again {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: max-content;
}

.restart {
  font-size: 0.75em;
  padding: 0.5em;
  background: white;
  border-radius: 0.5em;
  border: 3px solid black;
}

/* scoreboard styles */

.scoreboard {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreboard h4 {
  font-size: 2em;
  margin: 0 0 1em 0;
}

.scoreboard .player-scores {
  font-size: 1.5em;
  line-height: 2em;
}

.scoreboard h6 {
  font-size: 1.5em;
  margin: 1em 0 0.5em 0;
}

.scoreboard .player {
  font-size: 1em;
}

/* settings styles */

.settings {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  margin-right: 1em;
}

.settings img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1em;
  height: auto;
}

.settings svg {
  position: absolute;
  right: 1em;
  bottom: 0.5em;
  stroke-dasharray: 781px;
  stroke-dashoffset: 781px;
  opacity: 0;
}

@keyframes settings-anim {
  10% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0px;
    opacity: 1;
  }
}

.settings img:hover + svg {
  animation: settings-anim 250ms ease forwards;
}

.random-button {
  border-radius: 5px;
  background: blanchedalmond;
  color: black;
  display: inline-block;
  width: 100px;
}
