:root {
  --box-textColor: black;
  --heading-textColor: white;
  --box-Color: #f1befa;
  --font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Heading styling */

.heading {
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 0;
}

.heading .text-container {
  font-size: 1.5em;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: var(--heading-textColor);
  font-family: var(--font-family);
  top: 15%;
  right: 3%;
}

.heading .text-container > * {
  margin: 0;
  padding: 0;
}

.heading h4 {
  font-weight: 300;
}

.heading .text-container h2 {
  margin-right: 0.5em;
}

/* Main screen styling */

.main-screen {
  position: relative;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  height: 70vh;
}

/* Board styles */

.board-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: max-content;
  display: flex;
  justify-content: center;
}

.board {
  width: max-content;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
  margin-bottom: 0.5em;
}

.row .square {
  width: 3em;
  height: 3em;
  border-radius: 0.5em;
  border: 3px solid black;
  background: var(--box-Color);
}
